@import "~bootstrap/dist/css/bootstrap.min.css";
.container-fluid {
  top: 20%;
  position: absolute;
}
body {
  background-color: rgb(4, 129, 246);
}
button {
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  color: white;
}
p {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  margin: 30px;
}
